/* ==========================================================================
   Colors
   ========================================================================== */

html {

	/*Teal Colors*/
	--color-teal-dark: #006064;
	--color-teal-light: #14CBA8;
	--color-teal-primary: #009688;

	/*Orange Colors*/
	--color-orange-dark: #D84315;
	--color-orange-light: #FF8A50;
	--color-orange-primary: #F44336;

	/*Blue Colors*/
	--color-blue-dark: #022F6C;
	--color-blue-light: #4F83CC;
	--color-blue-primary: #01579B;

	/*Text Colors*/
	--color-text-primary: #022f63;
	--color-text-light: #677385;
	--color-text-dark: #14212F;
}

/* ==========================================================================
   Typography
   ========================================================================== */

html {
	--font-primary: 'Work Sans', sans-serif;
	--font-secondary: 'Montserrat', sans-serif;

	/*Type Scale*/

	--ratio: 1.15;
	--bodytext: 16px;

	/*Large Text Sizes*/
	--large-text: calc(var(--bodytext) * var(--ratio));
	--xlarge-text: calc(var(--large-text) * var(--ratio));
	--xxlarge-text: calc(var(--xlarge-text) * var(--ratio));
	--xxxlarge-text: calc(var(--xxlarge-text) * var(--ratio));
	--xxxxlarge-text: calc(var(--xxxlarge-text) * var(--ratio));
	--xxxxxlarge-text: calc(var(--xxxxlarge-text) * var(--ratio));

	/*Small Text Sizes*/
	--small-text: calc(var(--bodytext) / var(--ratio));
	--xsmall-text: calc(var(--small-text) / var(--ratio));
    --xxsmall-text: calc(var(--xsmall-text) / var(--ratio));
    --xxxsmall-text: calc(var(--xxsmall-text) / var(--ratio));
    --xxxxsmall-text: calc(var(--xxxsmall-text) / var(--ratio));
    --xxxxxsmall-text: calc(var(--xxxxsmall-text) / var(--ratio));

    /*Margins*/
    --margin-standard: 0 0 1rem;

    /*Text Color, Font, & Size*/
	color: var(--color-text-primary);
	font-family: var(--font-primary);
	font-size: var(--bodytext);
}

a {
	color: var(--color-text-primary);
	text-decoration: underline;
}

a:visited {
	color: var(--color-blue-primary);
}

a:hover {
	color: var(--color-teal-dark);
	text-decoration: underline;
}

a:active {
	color: var(--color-orange-primary);
	text-decoration: underline;
	font-weight: bold;
}

a:focus {
	border: solid 1px var(--color-teal-dark);
	color: var(--color-text-primary);
}

footer a:hover {
	color: white;
}

blockquote {
	border-left: 5px solid var(--color-teal-dark);
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;
	padding: 15px 40px;
}

h1, h2, h3, h4, h5, h6,.logo {
	font-family: var(--font-secondary);
}

h1 {
	font-size: var(--xxxxxlarge-text);
}

h2 {
	font-size: var(--xxxxlarge-text);
}

h3 {
	font-size: var(--xxxlarge-text);
}

h4 {
	font-size: var(--xxlarge-text);
}

h5 {
	font-size: var(--xlarge-text);
}

h6 {
	font-size: var(--large-text);
}

.logo {
	color: var(--color-orange-light);
	font-size: 50px;
	font-weight: bold;
}

.lucid-styles {
	font-size: 30px;
}

p {
	line-height: 1.5;
	margin: var(--margin-standard); 
}

.primary-font {
	font-family: var(--font-primary);
}

ol{
	list-style-type: square;
}

ul {
	list-style-type: square;
}


/* ==========================================================================
   Header
   ========================================================================== */

header {
	padding: 2rem;
}

.home-nav li {
	display: inline;
	padding-right: 11px;
	font-size: 20px;
}

.home-nav a {
	text-decoration: none; 
}

/* ==========================================================================
   Master Layout
   ========================================================================== */
main {
	margin:auto;
	max-width: 78%;
}

body {
	margin: 0;
}

/* ==========================================================================
   Footer Component
   ========================================================================== */

footer {
	background-color: var(--color-orange-light);
	color: var(--color-text-dark);
	margin-top: 4rem;
	padding: 2rem; 
	text-align: center;	
}

.footer {
	position: absolute;
}

/* ==========================================================================
   Examples
   ========================================================================== */

 /*Typography Examples*/

.secondary-font {
	font-family: var(--font-secondary)
}

.secondary-text {
   	font-family: var(--font-secondary);
   }

.example-heading {
   	border-bottom:1px solid lightgrey;
   	padding-bottom: 1rem;
   	margin: 0;
   }

.featured-text {
	font-size: var(--bodytext);
	font-style: italic;
}

.tertiary-text{
	font-size: var(--small-text);
}

/**********BUTTONS************/

/*Hero Teal Buttons*/

.hero-button-teal, .hero-button-teal:visited {
	background-color: transparent;
	border-radius: .3rem;
	border: solid .2rem;
	color: var(--color-teal-light);
	font-weight: bolder;
	font-size: larger;
	margin-right: 1.25rem;
	padding: 1rem 2.6rem;
	text-decoration: none;
}

.hero-button-teal:hover, .hero-button-teal:focus {
	background-color: var(--color-teal-light);
	border-radius: .5rem; 
	color: white;
	font-weight: bold;
	margin-right: 1.25rem;
	padding: 1rem 2.6rem;
	text-decoration: none;
  	transform-style: flat; 
}


.hero-button: active {

}

/*HERO BUTTONS*/

/*Hero Orange Button*/

.hero-button-orange, .hero-button-orange:visited {
	background-color: transparent;
	border-radius: .3rem;
	border: solid .2rem;
	color: var(--color-orange-primary);
	font-weight: bolder;
	font-size: larger;
	margin-right: 1.25rem;
	padding: 1rem 2.6rem;
	text-decoration: none;
}

.hero-button-orange:hover, .hero-button-orange:focus {
	background-color: var(--color-orange-primary);
	border-radius: .5rem; 
	color: white;
	font-weight: bold;
	margin-right: 1.25rem;
	padding: 1rem 2.6rem;
	text-decoration: none;
	transition: ;
}

/*Hero Blue Button*/
.hero-button-blue, .hero-button-blue:visited {
	background-color: transparent;
	border-radius: .3rem;
	border: solid .2rem;
	color: var(--color-blue-primary);
	font-weight: bolder;
	font-size: larger;
	margin-right: 1.25rem;
	padding: 1rem 2.6rem;
	text-decoration: none;
}

.hero-button-blue:hover, .hero-button-blue:focus {
	background-color: var(--color-blue-primary);
	border-radius: .5rem; 
	color: white;
	font-weight: bold;
	margin-right: 1.25rem;
	padding: 1rem 2.6rem;
	text-decoration: none;
}

/*NORMAL BUTTONS*/

/*Normal Teal Button*/

.normal-button-teal, .normal-button-teal:visited {
	background-color: var(--color-teal-primary);
	border-radius: .5rem;
	border: solid .2rem;
	color: white;
	font-weight: bolder;
	margin-right: 1.25rem;
	padding: .8rem 2rem;
	text-decoration: none;
}

.normal-button-teal:hover, .normal-button-teal:focus {
	background-color: var(--color-teal-light);
	border-radius: .5rem; 
	color: white;
	font-weight: bold;
	margin-right: 1.25rem;
	padding: .9rem 2.1rem;
	text-decoration: none;
  	transform-style: flat; 
}


.normal-button: active {

}

/*Normal Orange Button*/

.normal-button-orange, .normal-button-orange:visited {
	background-color: var(--color-orange-primary);
	border-radius: .5rem;
	border: solid .2rem;
	color: white;
	font-weight: bolder;
	margin-right: 1.25rem;
	padding: .8rem 2rem;
	text-decoration: none;
}

.normal-button-orange:hover, .normal-button-orange:focus {
	background-color: var(--color-orange-light);
	border-radius: .5rem; 
	color: white;
	font-weight: bold;
	margin-right: 1.25rem;
	padding: .9rem 2.1rem;
	text-decoration: none;
	transition: ;
}

/*Normal Blue Button*/
.normal-button-blue, .normal-button-blue:visited {
	background-color: var(--color-blue-primary);
	border-radius: .5rem;
	border: solid .2rem;
	color: white;
	font-weight: bolder;
	margin-right: 1.25rem;
	padding: .8rem 2rem;
	text-decoration: none;
}

.normal-button-blue:hover, .normal-button-blue:focus {
	background-color: var(--color-blue-light);
	border-radius: .5rem; 
	color: white;
	font-weight: bold;
	margin-right: 1.25rem;
	padding: .9rem 2.1rem;
	text-decoration: none;
}

/*SMALL BUTTONS*/

/*Small Teal Button*/

.tertiary-button-teal, .tertiary-button-teal:visited {
	background-color: var(--color-teal-dark);
	border-radius: .5rem;
	border: solid .2rem;
	color: white;
	font-weight: bolder;
	margin-right: 1.25rem;
	padding: .8rem 2rem;
	text-decoration: none;
}

.tertiary-button-teal:hover, .tertiary-button-teal:focus {
	background-color: var(--color-teal-dark);
	border-radius: .5rem; 
	color: white;
	font-weight: bold;
	margin-right: 1.25rem;
	padding: .9rem 2.1rem;
	text-decoration: none;
  	transform-style: flat; 
}


.normal-button: active {

}

/*Small Orange Button*/

.tertiary-button-orange, .tertiary-button-orange:visited {
	background-color: #BDBDBD;
/*	border-radius: .5rem;*/
	border: solid .2rem;
	color: white;
	font-weight: bolder;
	margin-right: 1.25rem;
	padding: .8rem 2rem;
	text-decoration: none;
}

.tertiary-button-orange:hover, .tertiary-button-orange:focus {
	background-color: var(--color-orange-dark);
/*	border-radius: .5rem; */
	color: var(--color-text-dark);
	font-weight: bold;
	margin-right: 1.25rem;
	padding: .9rem 2.1rem;
	text-decoration: none;
	transition: ;
}

/*Small Blue Button*/
.tertiary-button-blue, .tertiary-button-blue:visited {
	background-color: var(--color-blue-dark);
	border-radius: .5rem;
	border: solid .2rem;
	color: white;
	font-weight: bolder;
	margin-right: 1.25rem;
	padding: .5rem 1.5rem;
	text-decoration: none;
}

.tertiary-button-blue:hover, .tertiary-button-blue:focus {
	background-color: white;
	border-radius: .5rem; 
	color: var(--color-blue-dark);
	font-weight: bold;
	margin-right: 1.25rem;
	padding: .5rem 1.5rem;
	text-decoration: none;
}

/*Margins for Buttons*/
.button-margins {
	margin-top: 4rem;
	margin-bottom: 4rem;
}